<!doctype html>
<html>
  <head>
    <title>My experiment</title>
    <link href="../../jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
    <link href="../css/experiment.css" rel="stylesheet" type="text/css"></link>
  </head>
  <body>
    <div class="container">
      <div class="container-inner">
        <p>
          <strong>You have completed the working memory task.</strong>
        </p>
        <p>
          Thank-you for taking part in this study! Your results have been recorded.
        </p>
        <p>
          You may now close this window.
        </p>
      </div>
    </div>
  </body>
</html>
